.F_Next{
  margin-top: 30px;
}
.F_pagination {
  float: right;
}

.mat-checkbox {
  display: inline-block;
  height: 16px;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 16px;
  flex-shrink: 0;
}
